{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="card" style="margin-top: 10px;">
        <div class="card-header">
            {{title_pl}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ description_pl}}</p>
            </blockquote>
            <div style="margin-top: 6px;">
                <span class="badge rounded-pill text-bg-dark" style="font-size: 17px;">videos numbers :{{number_videos}} </span>
                <span class="badge rounded-pill text-bg-dark" style="font-size: 17px;">Views :{{views_pl}} </span>
            </div>
        </div>
    </div>

    <center>
        <div class="row">
            {% for video in videos %}
            <div class="col-4">
                <div class="card" style="width: 400px; margin: 5px 0px 8px 0px" id="info_video">
                    <img src="{{video.thumbnail_url}}" class="card-img-top" alt="not" style="height: auto;">
                    <div class="card-body">
                        <span class="badge rounded-pill text-bg-dark" style="font-size: 17px;">Video</span>
                        <span class="badge rounded-pill text-bg-dark" style="font-size: 17px;">Views : {{video.views}}</span>

                        <h3 class="card-title" style="margin-top:6px ;">{{video.title}}</h3>

                        <p class="card-text">{{description}} - <a href={{video.watch_url}}>Show in youtube</a></p>

                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                download
                            </a>

                            <ul class="dropdown-menu">
                                <li></li>
                                <li><a class="dropdown-item btn" href="/down_audio_pl/{{video.video_id}}">Audio</a></li>
                                <li><a class="dropdown-item btn" data-bs-toggle="collapse" href="#quality{{video.video_id}}" role="button" aria-expanded="false" aria-controls="quality{{video.video_id}}">Video</a></li>
                                <li><a class="dropdown-item btn" href="/down_thumbnail_pl/{{video.thumbnail_url}}">thumbnail</a></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="collapse" id="quality{{video.video_id}}" style="margin-top: 10px;">
                            <h5>Choose quality</h5>
                            <a href="/down_high_pl/{{video.video_id}}" class="btn btn-outline-primary">High</a>
                            <a href="/down_low_pl/{{video.video_id}}" class="btn btn-outline-primary">Low</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </center>

</div>
{% endblock %}